@charset "UTF-8";

body{
    background: rgb(107, 107, 242);
    font: normal 18px arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width:  500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

