@charset "UTF-8";

body{
    background: rgb(107, 107, 242);
    font: normal 18px arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width:  400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438);
}

div#msg{
    text-align: center;
    margin-bottom: 10px;
}

div#foto > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

